<div class="container">
    <div class="row p-3" ng-hide="loaded">
        <div class="col-md-6">
            <div class="float-right">
                <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 search">
            <form class="search-form">
                <div class="form-group flex">
                    <input type="text" class="form-control col-xl-10" style="border: 1px solid #a2a2a2; max-width: 100% !important;" id="inputSearch"
                           placeholder="Я ищу кандидата ..." ng-model="vac.name">
                    <button type="submit" class="btn btn-primary col-xl-2"  ng-click="search(vac)">Найти</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-show="loaded">
        <div class="col-md-12">
            <table class="table table-hover">
                <tbody>
                <tr dir-paginate="res in data.candidates | itemsPerPage:data.itemsPerPage" total-items="data.total_count" class='clickable-row' style="cursor: pointer;" ng-click="showResume(res.key)">
                    <td>
                        <img alt="User Pic" ng-src="{{ res.imgUrl }}" id="profile-image1" class="img-circle img-responsive" style="width: 100px">
                    </td>
                    <td>
                        <h5><strong>{{ res.username }}</strong></h5>
                        <h6 class="mb-2 text-muted font-italic pt-1">{{ res.aboutShort }}</h6>
                        <h6 class="mb-2 text-muted">
                            <span ng-show="res.salary"> Ожидаемая зарплата -  {{ res.salary }} рублей.</span>
                            <span ng-show="res.experience">Опыт работы - {{ res.experience }}</span>
                            <span ng-hide="res.experience"> Опыт работы - начало карьеры</span>
                            <br>
                            <span class="card-subtitle mb-2 text-muted">Место нахождения:</span>
                            <span class="card-text" ng-show="res.location">{{ res.location }}</span>
                            <span class="card-text" ng-hide="res.location">  - не указано</span>
                        </h6>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <dir-pagination-controls template-url="./js/dirPagination.tpl.html"
                                         max-size="10"
                                         direction-links="true"
                                         boundary-links="true"
                                         on-page-change="data.getData(newPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>
