<!-- HTML-код модального окна -->
<div id="myModalBox" class="col-md-6 col-md-offset-3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Копировать данную вакансию?
            </div>
            <div class="modal-footer">
                <a ng-href="#/owner" class="btn btn-secondary pull-left" ng-hide="id">Назад</a>
                <button type="button" class="btn btn-primary float-right" ng-click="copy()">Копировать</button>
            </div>
        </div>
    </div>
</div>