<!-- HTML-код модального окна -->
<div class="col-md-6 col-md-offset-3" id="myModalBox">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Копировать данную вакансию?
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary pull-left" ng-hide="id" ng-href="#/owner">Назад</a>
                <button class="btn btn-primary float-right" ng-click="copy()" type="button">Копировать</button>
            </div>
        </div>
    </div>
</div>