<div class="container p-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Отправить приглашения на прохождение интервью.</div>
            <div class="card-body">
                <div class="form-group">
                    <div class="form-group">
                        <label for="emails">Email адреса кандидатов:
                            <small><span class="glyphicon glyphicon-question-sign"
                                         style="color:grey" data-toggle="tooltip"
                                         title="Введите подробное описание вакансии">
                        </span></small>
                        </label>
                        <textarea class="form-control" rows="10" id="emails" ng-model="emails" required>
                    </textarea>
                    </div>
                </div>
                <a ng-href="#/vacancy/{{vacancyId}}" class="btn btn-secondary">Назад</a>
                <button ng-click="sendInvite()"  class="btn btn-secondary float-right">Отправить</button>
            </div>
        </div>
    </div>
</div>
