<style>
    #profile-image1 {
        cursor: pointer;
        width: 100px;
        border:2px solid #03b1ce ;}
    .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}

</style>
<div class="container pt-3">
    <div class="row pt-3" ng-show="loaded">
        <div class="col-md-12">
            <div class="alert alert-warning" ng-show="vacancies.length == 0" role="alert">
                <h4 class="alert-heading">
                    <i class="fa fa-bell fa-fw"></i>Вам нужно добавить вакансии, чтобы пригласить кандидата</h4>
                <p>
                    Добавьте ваканисию и пригласите понравившегося кандидата пройти собеседование.
                    Для этого нажимите на кнопку <a class="btn-link" href="#/vacancy/update/">Добавить вакансию</a>.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <a class="btn btn-secondary" data-toggle="tooltip" href="#/vacancy/update/"
               title="Перейти на страницу с открытыми вакансиями">
                Добавить вакансию</a>
            <a class="btn btn-secondary" data-toggle="tooltip" href="#/teams"
               title="Перейти на страницу с открытыми вакансиями">Группы</a>
            <a class="btn btn-secondary" data-toggle="tooltip" href="#/archive"
               title="Перейти на страницу с архивированными вакансиями">Архив</a>
            <button class="btn btn-secondary" data-toggle="popover" id="showAll" ng-click="showAll()">
                Вакансии всех пользователей
            </button>
            <button class="btn btn-secondary" data-content="На этой странице находятся все опубликованные вакансии."
                    data-toggle="popover"
                    title="Страница опубликованный вакансий">
                <i class="fa fa-question fa-fw"></i>
            </button>
        </div>
    </div>
    <div class="row pt-3" ng-hide="loaded">
        <div class="col-md-6">
            <div class="float-right">
                <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
            </div>
        </div>
    </div>
    <div class="row pt-3" ng-show="loaded">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Кандидат на рассмотрение - {{person.username}}</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm">
                                    <span class="card-subtitle mb-2 text-muted">Опыт работы:</span>
                                    <span class="card-text"
                                          ng-show="person.experience">{{ res.experience }} г.(лет)</span>
                                    <span class="card-text"
                                          ng-hide="person.experience"> Опыт работы - начало карьеры</span>
                                    <br/>
                                    <span class="card-subtitle mb-2 text-muted">О себе кратко:</span>
                                    <span class="card-text">{{person.aboutShort}}</span>
                                    <br/>
                                    <span class="card-subtitle mb-2 text-muted">Зарплатные ожидания:</span>
                                    <span class="card-text">{{person.salary}}</span>
                                    <br/>
                                </div>
                                <div class="col-sm">
                                    <div class="float-right">
                                        <img alt="User Pic" class="img-circle img-responsive" id="profile-image1"
                                             ng-src="{{photo.imgUrl}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 pt-3" ng-show="vacancies.length > 0">
            <table class="table">
                <tr></tr>
                <tr>
                    <th>
                        <h5><span data-toggle="tooltip"
                                  title="Вакансии, которые Вы опубликовали.">
                        Ваши вакансии</span>
                        </h5>
                    </th>
                    <th class="cell-stat text-center hidden-xs hidden-sm">Создана</th>
                    <th class="cell-stat text-center hidden-xs hidden-sm">Действие</th>
                </tr>
                <!--</thead>-->
                <tbody>
                <tr dir-paginate="data in vacancies|itemsPerPage:data.itemsPerPage" total-items="data.total_count">
                    <td>
                        <h5>
                            <a ng-href="#/vacancy/{{data.vacancy.id}}">
                                {{ data.vacancy.name }}
                            </a>
                            <br>
                            <small>
                                {{ data.vacancy.company }}.
                                {{ data.vacancy.location }}.
                                <span ng-show="vacancy.rate">{{ vacancy.rate }}.</span>
                                <span ng-show="vacancy.experience">{{ vacancy.experience }}.</span>
                            </small>
                        </h5>
                    </td>
                    <td class="text-center">
                        <h5>{{ data.vacancy.created | date: 'dd.MM.yyyy'}}</h5>
                    </td>
                    <td>
                        <button class="btn btn-secondary" data-content="Пригласить" data-toggle="popover"
                                ng-click="sendInvitation(data.vacancy.id)" ng-show="data.result =='NOT'" title="Пригласить">
                            <i class="fa fa-paper-plane fa-fw"></i> Пригласить
                        </button>
                        <button class="btn btn-success" data-content="Пройдено" data-toggle="popover"
                                ng-disabled='true' ng-show="data.result =='SUCCESS'" title="Пройдено">
                            <i class="fa fa-thumbs-up fa-fw"></i> Пройдено
                        </button>
                        <button class="btn btn-warning" data-content="В процессе" data-toggle="popover"
                                ng-disabled='true' ng-show="data.result =='PROCESS'" title="В процессе">
                            <i class="fa fa-hourglass-half fa-fw"></i>В процессе
                        </button>
                        <button class="btn btn-danger" data-content="Провалено" data-toggle="popover"
                                ng-disabled='true' ng-show="data.result =='FAIL'" title="Провалено">
                            <i class="fa fa-thumbs-down fa-fw"></i>Провалено
                        </button>
                        <button class="btn  btn-info" data-content="Предложено" data-toggle="popover"
                                ng-disabled='true' ng-show="data.result =='OFFER'" title="Предложено">
                            <i class="fa fa-envelope fa-fw"></i>Предложено
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <dir-pagination-controls boundary-links="true"
                                     direction-links="true"
                                     max-size="10"
                                     on-page-change="data.getData(newPageNumber)"
                                     template-url="./js/dirPagination.tpl.html">
            </dir-pagination-controls>
        </div>
    </div>
</div>