<div class="container p-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Отправить приглашения на прохождение интервью.</div>
            <div class="card-body">
                <div class="form-group">
                    <div class="form-group">
                        <label for="emails">Email адреса кандидатов:
                            <small><span class="glyphicon glyphicon-question-sign"
                                         data-toggle="tooltip" style="color:grey"
                                         title="Введите подробное описание вакансии">
                        </span></small>
                        </label>
                        <textarea class="form-control" id="emails" ng-model="emails" required rows="10">
                    </textarea>
                    </div>
                </div>
                <a class="btn btn-secondary" ng-href="#/vacancy/{{vacancyId}}">Назад</a>
                <button class="btn btn-secondary float-right" ng-click="sendInvite()">Отправить</button>
            </div>
        </div>
    </div>
</div>
