<div class="container p-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Название:</label>
                    <input class="form-control" id="name" ng-model="report.name" required type="text">
                </div>
                <div class="form-group">
                    <label for="sel1">Отправлять:</label>
                    <select class="form-control" ng-model="report.type">
                        <option value="SINGLE_LINE">Сразу</option>
                        <option value="ARRAY">По периоду</option>
                    </select>
                </div>
                <div class="form-group" ng-show="report.type == 'PERIOD'">
                    <label for="sel1">Период:</label>
                    <select class="form-control" ng-model="report.type">
                        <option value="SINGLE_LINE">За час</option>
                        <option value="ARRAY">За день</option>
                        <option value="ARRAY">За 2 дня</option>
                        <option value="ARRAY">За 3 дня</option>
                        <option value="ARRAY">За неделю</option>
                    </select>
                </div>
                <div class="form-group" ng-show="task.type == 'TEST'" style="overflow-y: scroll; height: 200px;">
                    <table class="table table-bordered" id="table" ng-show="loadedExam">
                        <thead>
                        <tr>
                            <th data-field="state" data-radio="true"></th>
                            <th data-field="name">Название</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="exam in exams">
                            <input ng-init="task.values[0].info = exam.name" ng-model="task.values[0].info"
                                   type="hidden"/>
                            <td><input ng-model="task.values[0].value" ng-value="exam.id" type="radio"></td>
                            <td>{{ exam.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-secondary" ng-href="#/vacancy/{{vacancyId}}">Назад</a>
                <button class="btn btn-secondary float-right" ng-click="save(stage)">Сохранить</button>
            </div>
        </div>
    </div>
</div>