<div class="container p-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Создание нового этапа</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Название:</label>
                        <small><span class="glyphicon glyphicon-question-sign"
                                     style="color:grey" data-toggle="tooltip"
                                     title="Введите название">
                        </span></small>
                        <input type="text" class="form-control" id="name" ng-model="stage.name" required
                               placeholder="Название">
                    </div>
                    <div class="form-group">
                        <label for="description">Описание:</label>
                        <textarea class="form-control" rows="20" id="description" ng-model="stage.description"
                                  required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="comment">Успешно пройдено:</label>
                        <small><span class="glyphicon glyphicon-question-sign"
                                     style="color:grey" data-toggle="tooltip"
                                     title="Введите шаблон успешно пройденного этапа">
                        </span></small>

                        <textarea class="form-control" rows="20" id="congratulate" ng-model="stage.congratulate"
                                  required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="comment">Отказ:</label>
                        <small><span class="glyphicon glyphicon-question-sign"
                                     style="color:grey" data-toggle="tooltip"
                                     title="Введите шаблон не пройденного этапа">
                        </span></small>
                        <textarea class="form-control" rows="20" id="failure" ng-model="stage.failure" required></textarea>
                    </div>
                    <a ng-href="#/vacancy/{{vacancyId}}" class="btn btn-secondary">Назад</a>
                    <button class="btn btn-secondary float-right" ng-click="save(stage)">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>

