<div class="container p-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" style="padding-top: 7.5px;">Создание нового задания</h4>
                    <div class="btn-group float-right">
                        <button class="btn btn-secondary" data-container="body"
                                data-content="Каждый этап собеседования состоит из списка заданий.
                                            Задания могут быть разного типа:
                                            <ul>
                                               <li>Задание с однострочным полем ввода. Например, введите фамилию, имя.</li>
                                               <li>Задание с многострочным полем ввода. Например, рассказать о своем предыдущем проекте.</li>
                                               <li>Задание с ввода числа, даты. Например, введите опыть работы (лет).</li>
                                               <li>Задание с выбором значения из списка. Например, как вы относитесь к командировках. Варианты - Положительно/Отрицательно.</li>
                                               <li>Задание с выбором множественных значений из списка. Например, укажите технологии с которыми Вы работали.</li>
                                               <li>Задание с добавлением файла. Например, решите тестовое задание в ответе добавьте код в zip архиве.</li>
                                               <li>Задание алгоритмического типа. В системе есть список задач, которые могут быть предложены выполнить кандидату.</li>
                                               <li>Задание с прохождением тестирования на выбранную тему. Например, тест по коллекциям языка Java.</li>
                                            </ul><br/>
                                            В каждом задании можно добавить условие успешного выполнения. Каждый тип поля имеет свои критерии проверки."
                                data-html="true"
                                data-placement="left"
                                data-toggle="popover"
                                title="Описание создание нового задания"
                                type="button">
                            <i class="fa fa-question-sign fa-fw"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Короткое название:
                            <small><span class="glyphicon glyphicon-question-sign"
                                         data-toggle="tooltip" style="color:grey"
                                         title="Поле содержить краткое описание задачи. Оно будет использовано в отчете.">
                        </span></small>
                        </label>
                        <input class="form-control" id="name" ng-model="task.name" placeholder="Введите краткое описание задачи" required
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="sel1">Тип поля ввода:
                            <small><span class="glyphicon glyphicon-question-sign"
                                         data-toggle="tooltip" style="color:grey;"
                                         title="В задаче будет поле ввода данных. В него кандидат вводить свой ответ. Чтобы ограничить
                                            варианты ввода в системе введены 9 типов полей. Каждое поле имеет свой вид и систему проверок
                                            (Условий уcпешного выполнения).
                                        ">
                        </span></small>
                        </label>
                        <select class="form-control" ng-change="updateForm()" ng-model="task.type">
                            <option value="SINGLE_LINE">Однострочное поле</option>
                            <option value="AREA">Многострочное поле</option>
                            <option value="INT">Число</option>
                            <option value="DATE">Дата</option>
                            <option value="LIST">Список</option>
                            <option value="MULTILIST">Список со множественным выбором</option>
                            <option value="ATTACH">Файл</option>
                            <option value="TASK">Алгоритмическая задача</option>
                            <option value="TEST">Тест</option>
                            <option value="URL">URL</option>
                        </select>
                    </div>
                    <div class="input-group" data-ng-repeat="(index, value) in task.values" ng-show="task.type == 'LIST' || task.type == 'MULTILIST'"
                         style="margin-bottom: 15px;">
                        <input ng-model="value.id" type="hidden">
                        <input class="form-control" ng-model="value.value" placeholder="Значения" type="text">
                        <span class="input-group-btn">
                        <button class="btn btn-secondary" ng-click="addNewChoice()" type="button">
                                <i class="fa fa-plus fa-fw"></i>
                        </button>
                        <button class="btn btn-secondary" ng-click="removeChoice(index)" ng-show="task.values.length > 1"
                                type="button">
                                <i class="fa fa-minus fa-fw"></i>
                        </button>
                    </span>
                    </div>
                    <div class="form-group" ng-show="task.type == 'TASK'" style="overflow-y: scroll; height: 300px;">
                        <table class="table table-bordered" id="table" ng-show="loadedAlgo">
                            <tbody>
                            <tr ng-repeat="algo in algos">
                                <td><input ng-change="addInfo(algo)" ng-model="task.values[0].value" ng-value="algo.id"
                                           type="radio"></td>
                                <td>
                                    <div><strong>Название: </strong>{{ algo.name }}</div>
                                    <div><strong>Сложность: </strong>{{ algo.level }}</div>
                                    <div><strong>Описание: </strong><span
                                            data-ng-bind-html="html(algo.description)"></span></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group" ng-show="task.type == 'TEST'" style="overflow-y: scroll; height: 200px;">
                        <table class="table table-bordered" id="table" ng-show="loadedExam">
                            <thead>
                            <tr>
                                <th data-field="state" data-radio="true"></th>
                                <th data-field="name">Название</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="exam in exams">
                                <input ng-init="task.values[0].info = exam.name" ng-model="task.values[0].info"
                                       type="hidden"/>
                                <td><input ng-model="task.values[0].value" ng-value="exam.id" type="radio"></td>
                                <td>{{ exam.name }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group" ng-hide="task.type == 'ATTACH' || task.type == 'URL'">
                        <label>Условие прохождения задания:
                            <!--<small>-->
                            <!--<i class="fa fa-question-sign fa-fw"title="В этой настройке можно указать условие успешного прохождения задачи.-->
                            <!--Для каждого типа поля предусмотрены свои критерии.-->
                            <!--Например, числовой тип поля может настроен на условие больше определенного числа.-->
                            <!--Пример, Укажите сколько лет вы программируете на языка Java и выбрать условие больше 3.-->
                            <!--То есть, кандидат успешно выполнит это задание, если указывать опыт работы больше 3 лет.-->
                            <!--Если введи число меньше 3, то задание будет считаться не пройденный и интервью будет прекращено.-->
                            <!--Если критериев нет, то не заполняйте это поле.">-->
                            <!--</i></small>-->
                        </label>
                        <div data-ng-repeat="(index, filter) in task.filters" style="margin-bottom: 15px;">
                            <input ng-model="filter.id" type="hidden">
                            <div class="input-group">
                            <span class="input-group-btn">
                                <select class="form-control" ng-model="filter.key" style="width: 150px;">
                                    <option ng-hide="task.type == 'TEST'" value="EQ">Равно</option>
                                    <option ng-hide="task.type == 'TEST'" value="NOT_EQ">Не равно</option>
                                    <option ng-hide="task.type == 'INT' || task.type == 'TASK' || task.type == 'TEST' || task.type == 'DATE'"
                                            value="CONTAINS">Содержит</option>
                                    <option ng-hide="task.type == 'INT' || task.type == 'TASK' || task.type == 'TEST' || task.type == 'DATE'"
                                            value="NOT_CONTAINS">Не содержит</option>
                                    <option ng-hide="task.type == 'TASK'" value="GREAT">Больше</option>
                                    <option ng-hide="task.type == 'TASK'" value="LESS">Меньше</option>
                                </select>
                            </span>
                                <input class="form-control"
                                       ng-model="filter.value" ng-show="task.type == 'SINGLE_LINE' || task.type == 'AREA' || task.type == 'LIST' || task.type == 'MULTILIST'" placeholder="Значение" type="text">
                                <input class="form-control" ng-model="filter.value"
                                       ng-show="task.type == 'INT' || task.type == 'TEST'" placeholder="Значение" type="number">
                                <input class="form-control" ng-model="filter.value" ng-show="task.type == 'DATE'"
                                       placeholder="Значение" type="date">
                                <select class="form-control" ng-model="filter.value" ng-show="task.type == 'TASK'">
                                    <option value="true">Пройден успешно</option>
                                    <option value="false">Не пройден</option>
                                </select>
                                <span class="input-group-btn">
                                <button class="btn btn-secondary" ng-click="addFilter()" type="button">
                                     <i class="fa fa-plus fa-fw"></i>
                                </button>
                                <button class="btn btn-secondary" ng-click="removeFilter(index)" type="button">
                                     <i class="fa fa-minus fa-fw"></i>
                                </button>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Описание задания:
                            <small><span class="glyphicon glyphicon-question-sign"
                                         data-toggle="tooltip" style="color:grey"
                                         title="В это поле распишите, что необходимо сделать кандидату.
                                            Старайтесь описывать максимально подробно.">
                        </span></small>
                        </label>
                        <textarea class="form-control" id="description" ng-model="desc" placeholder="Подробное описание задания"
                                  rows="5"></textarea>
                    </div>
                    <a class="btn btn-secondary" ng-href="#/vacancy/{{vacancyId}}">Назад</a>
                    <!--<button class="btn btn-secondary" ng-click="save(task)">Предпросмотр</button>-->
                    <button class="btn btn-secondary float-right" ng-click="save(task)">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>