<div class="container p-3">
    <div class="row" ng-show="loaded">
        <div class="col-md-12">
            <a href="#/team/update" class="btn btn-secondary">Добавить группу</a>
            <a href="#/owner" class="btn btn-secondary">Назад</a>
        </div>
    </div>
    <div class="row p-3" ng-hide="loaded">
        <div class="col-md-6">
            <div class="float-right">
                <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
            </div>
        </div>
    </div>
    <div class="row" ng-show="loaded">
        <div class="col-md-12">
            <h3>Группы</h3>
        </div>
        <div class="col-md-12" ng-repeat="(index , team) in teams" ng-hide="team.deleted">
            <div class="card">
                <div class="card-header clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{{ team.team.name }}</h4>
                    <div class="float-right">
                        <a href="#/team/update/{{team.id}}" class="btn btn-secondary">
                            <span class="glyphicon glyphicon-edit"></span> Отредактировать
                        </a>
                        <button class="btn btn-secondary" ng-click="deleteTeam(team)">
                            <span class="glyphicon glyphicon-remove"></span> Удалить
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <select class="form-control" ng-model="team.vacancyId">
                            <option data-ng-repeat="vacancy in vacancies" value="{{vacancy.id}}"> {{ vacancy.name }} | {{ vacancy.company }} </option>
                        </select>
                        <span class="input-group-btn">
                                <button class="btn btn-secondary" ng-click="addPermission(team)">
                                    <span class="glyphicon glyphicon-plus"></span> Добавить вакансию
                                </button>
                          </span>
                    </div>
                    <table class="table" style="margin-top: 20px;">
                        <tbody>
                        <tr>
                            <th>Вакансии</th>
                            <th class="col-md-4">Действия</th>
                        </tr>
                        <tr ng-repeat="(index_person, permission) in team.permissions" ng-hide="permission.permission.deleted">
                            <td>{{ permission.vacancy.name }} | {{ permission.vacancy.company }}</td>
                            <td>
                                <div class="btn-group btn-group">
                                    <button class="btn {{ permission.permission.read ? '' : 'btn-secondary'}}" ng-click="updatePermission(permission.permission, 'READ')">
                                        Чтение
                                    </button>
                                    <button class="btn {{ permission.permission.write ? '' : 'btn-secondary'}}" ng-click="updatePermission(permission.permission, 'WRITE')">
                                        Запись
                                    </button>
                                </div>
                                <button class="btn btn-secondary" ng-click="deletePermission(permission.permission)">
                                    <span class="glyphicon glyphicon-remove"></span> Удалить
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="team.email" placeholder="Email адрес сотрудника.">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" ng-click="addMember(team)">
                                    <span class="glyphicon glyphicon-plus"></span> Добавить сотрудника
                                </button>
                          </span>
                        </div>
                    </div>
                    <table class="table" style="margin-top: 20px;">
                        <tbody>
                        <tr>
                            <th>Сотрудники</th>
                            <th class="col-md-4">Действия</th>
                        </tr>
                        <tr ng-repeat="(index_person, person) in team.persons" ng-hide="person.deleted">
                            <td>{{ person.username }} ({{ person.email }})</td>
                            <td>
                                <button class="btn btn-secondary" ng-click="deleteMember(person, index_person)">
                                    <span class="glyphicon glyphicon-remove"></span> Удалить
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>