<div class="container p-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Добавить новую группу</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Название:</label>
                        <input class="form-control" id="name" ng-model="team.name" required type="text">
                    </div>
                    <a class="btn btn-secondary" ng-href="#/teams">Назад</a>
                    <button class="btn btn-secondary float-right" ng-click="save(team)">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>