<style>
    input[type='number'] {
        -moz-appearance:textfield;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

</style>
<div class="container p-3">
    <div class="row p-3" ng-hide="loaded">
        <div class="col-md-6">
            <div class="float-right">
                <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
            </div>
        </div>
    </div>
    <div class="row" ng-show="loaded">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Создание новой вакансии</div>
                <div class="card-body">
                    <label for="name">Загрузить с https://hh.ru по URL:
                        <small><span class="glyphicon glyphicon-question-sign"

                                     title="Введите название вакансии">
                        </span></small>
                    </label>
                    <div class="input-group mb-3">
                        <input aria-describedby="basic-addon2" aria-label="Recipient's username" class="form-control" id="link"
                               ng-model="link" placeholder="https://bryansk.hh.ru/vacancy/27890168"
                               type="text">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" ng-click="load(link)" type="button">Загрузить
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Название:
                            <small><span class="glyphicon glyphicon-question-sign"

                                         title="Введите название вакансии">
                        </span></small>
                        </label>
                        <input class="form-control" id="name" ng-model="vacancy.name" placeholder="Название вакансии" required
                               type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="company">Компания:
                            <small><span class="glyphicon glyphicon-question-sign"

                                         title="Введите название компании">
                        </span></small>
                        </label>
                        <input class="form-control" id="company" ng-model="vacancy.company" placeholder="Название компании" required
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="location">Адрес офиса:
                            <small><span class="glyphicon glyphicon-question-sign"

                                         title="Введите адрес месторасположения офиса">
                        </span></small>
                        </label>
                        <input class="form-control" id="location" ng-model="vacancy.location" placeholder="Адрес" required
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="rate">Зарплата:
                            <small><span class="glyphicon glyphicon-question-sign"

                                         title="Введите сумму заработной платы">
                        </span></small>
                        </label>
                        <input class="form-control" id="rate" ng-model="vacancy.rate" placeholder="Зарплата" required
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="experience">Опыт работы:
                            <small><span class="glyphicon glyphicon-question-sign"

                                         title="Введите опыт работы">
                        </span></small>
                        </label>
                        <input class="form-control" id="experience" ng-model="vacancy.experience" placeholder="Опыт работы" required
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="limit">Время выполнения тестового задания в часах:
                            <small><span class="glyphicon glyphicon-question-sign"

                                         title="Введите время выполнения тестового задания">
                        </span></small>
                        </label>
                        <input class="form-control" id="limit" ng-model="vacancy.limit" placeholder="Время выполнения тестового задания" required
                               type="number">
                    </div>

                    <div class="form-group">
                        <label for="visibility">Доступ:
                            <small><span class="glyphicon glyphicon-question-sign"

                                         title="Выберите уровень видимости вакансии">
                        </span></small>
                            <select class="form-control" id="visibility" ng-model="vacancy.visibility">
                                <option value="ALL_VISIBILITY">Доступно всем</option>
                                <option value="URL_VISIBILITY">Доступно по ссылке</option>
                            </select>
                        </label>
                    </div>


                    <div class="form-group">
                        <label for="description">Описание:
                            <small><span class="glyphicon glyphicon-question-sign"

                                         title="Введите подробное описание вакансии">
                        </span></small>
                        </label>
                        <textarea class="form-control" id="description" ng-model="vacancy.description" required
                                  rows="20">
                            Кратко о фирме:
                            Обязанности:
                            Требования:
                            Дополнительными преимуществами являются:
                            Условия работы:
                            Тип занятости:
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label for="intro">Как будет проходить интервью:
                            <small><span class="glyphicon glyphicon-question-sign"

                                         title="Введите подробное описание вакансии">
                        </span></small>
                        </label>
                        <textarea class="form-control" id="intro" ng-model="vacancy.intro" required rows="20">
                           Поздравляем. Вы успешно прошли этот этап.
                            <br/>
                            В течении 3 дней мы с вами свяжемся по контактной информации оставленной в вашем профиле.
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label for="congratulate">Сообщение когда кандидат успешно прошел интервью:
                            <small><span class="glyphicon glyphicon-question-sign"

                                         title="Введите подробное описание вакансии">
                        </span></small>
                        </label>
                        <textarea class="form-control" id="congratulate" ng-model="vacancy.congratulate" required
                                  rows="20">
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label for="failure">Сообщение, когда кандидат провалил интервью:
                            <small><span class="glyphicon glyphicon-question-sign"
                                         title="Введите подробное описание вакансии">
                        </span></small>
                        </label>
                        <textarea class="form-control" id="failure" ng-model="vacancy.failure" required rows="20">
                        </textarea>
                    </div>

                    <a class="btn btn-secondary" ng-href="#/vacancy/{{id}}" ng-show="id">Назад</a>
                    <a class="btn btn-secondary" ng-hide="id" ng-href="#/owner">Назад</a>
                    <button class="btn btn-secondary float-right" ng-click="save(vacancy)">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
