<div class="container p-3">
    <div class="row p-3" ng-hide="loaded">
        <div class="col-md-6">
            <div class="float-right">
                <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert"  ng-show="tasks.length == 0">
                <h4 class="alert-heading">
                    <i class="fa fa-bell fa-fw"></i>В вакансии отсуствуют задания</h4>
                <p>
                    Рекомендуем добавить задания в вакансию.
                    Для этого нажимите на кнопку
                    <a href="#/task/update/{{vacancy.id}}" class="btn-link">Добавить заданиe</a>.
                    Начните с добавление алгоритмической задачи.
                    Для задачи выставьте условия успешного опрохождения.
                    Без заданий система не может произвести отбор кандидатов. Все кандидаты пройдут интервью.
                </p>
            </div>

            <div class="alert alert-info" role="alert"  ng-show="tasks.length > 0 && !vacancy.active">
                <h4 class="alert-heading">
                    <i class="fa fa-bell fa-fw"></i>Вакансия готова к публикации</h4>
                <p>
                    Вакансия готова к публикации.
                    Для этого нажимите на кнопку "Опубликовать".
                    Послe публицаии вакансия станет доступной кандидатам.
                </p>
            </div>

            <a href="#/task/update/{{vacancy.id}}" class="btn btn-secondary">
                <i class="fa fa-plus fa-fw"></i> Добавить задание
            </a>
            <a href="#/vacancy/update/{{vacancy.id}}" class="btn btn-secondary">
                <span class="glyphicon glyphicon-edit"></span> Отредактировать
            </a>
            <button ng-show="!vacancy.active" ng-click="actived(vacancy, true)" class="btn btn-success">
                <span class="glyphicon glyphicon-play"></span> Опубликовать
            </button>
            <button ng-click="actived(vacancy, false)" ng-show="vacancy.active" class="btn btn-warning">
                <span class="glyphicon glyphicon-pause"></span> Остановить публикацию
            </button>
            <a ng-href="#/owner" class="btn btn-secondary">
                <span class="glyphicon glyphicon-step-backward"></span> Назад
            </a>
            <div class='float-right'>
                <a href="#/vacancy/invited/{{vacancy.id}}" class="btn btn-secondary">
                    <span class="glyphicon glyphicon-send"></span> Отправить приглашение
                </a>
                <a href="#/vacancy/candidates/{{vacancy.id}}/total" class="btn btn-secondary">Канидидаты</a>
            </div>
        </div>
    </div>
    <div class="row" ng-show="loaded">
        <div class="col-md-12 pt-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="panel-title float-left" style="padding-top: 7.5px;">
                        <strong>{{ vacancy.name }}</strong><br/>
                        {{ vacancy.company }}.
                        {{ vacancy.location }}.
                        <span ng-show="vacancy.rate">{{ vacancy.rate }}.</span>
                        <span ng-show="vacancy.experience">{{ vacancy.experience }}.</span>
                    </h5>
                    <div class="btn-group float-right" ng-show="vacancy.active">
                        <p><i class="fa fa-check fa-fw"></i> Опубликован</p>
                    </div>
                    <div class="btn-group float-right" ng-hide="vacancy.active">
                        <p><i class="fa fa-square-o fa-fw"></i> Не опубликован</p>
                    </div>
                </div>
                <div class="card-body" data-ng-bind-html="description">
                </div>
            </div>
        </div>
        <div class="col-md-12 pt-3">
            <div class="card">
                <div class="card-header">Как будет проходить интервью:</div>
                <div class="card-body" data-ng-bind-html="intro"></div>
            </div>
        </div>
        <div class="col-md-12 pt-3">
            <div class="card">
                <div class="card-header">Сообщение когда кандидат успешно прошел интервью:</div>
                <div class="card-body" data-ng-bind-html="congratulate"></div>
            </div>
        </div>
        <div class="col-md-12 pt-3">
            <div class="card">
                <div class="card-header">Сообщение, когда кандидат провалил интервью:</div>
                <div class="card-body" data-ng-bind-html="failure"></div>
            </div>
        </div>
        <div class="col-md-12 pt-3" ng-repeat="(index , task) in tasks">
            <div class="card">
                <div class="card-header">
                    <span>{{index + 1}}. {{task.name}}</span>
                    <span class="float-right">
                    <button ng-click="changeTaskPosition(stage.id, index_task, index_task - 1)"
                            ng-attr-id="{{'task_up_' + index}}" ng-hide="index_task == 0"
                            class="btn btn-secondary">
                        <i class="fa fa-arrow-up fa-fw"></i>
                    </button>
                    <button ng-click="changeTaskPosition(stage.id, index_task, index_task + 1)"
                            ng-attr-id="{{'task_down_' + index}}" class="btn btn-secondary"
                            ng-hide="tasks[stage.id].length - 1 == index_task">
                        <i class="fa fa-arrow-down fa-fw"></i>
                    </button>
                    <a href="#/task/update/{{vacancy.id}}/{{task.id}}"
                       class="btn btn-secondary">
                        <i class="fa fa-edit fa-fw"></i>
                    </a>
                    <button class="btn btn-secondary" ng-click="deleteTask(task)">
                        <i class="fa fa-trash fa-fw"></i>
                    </button>
                    </span>
                </div>
                <div class="card-body">
                    <div>Тип поля ввода: {{ types[task.type] }}</div>
                    <div ng-show="task.values.length > 0">
                        Значения:
                        <ul>
                            <li ng-repeat="value in task.values">
                                        <span ng-show="!value.info">
                                            {{value.value}}
                                        </span>
                                <span ng-show="value.info">
                                            {{value.info}}
                                        </span>
                            </li>
                        </ul>
                    </div>
                    <div ng-show="task.filters.length > 0">
                        <h5>Условия:</h5>
                        <ul>
                            <li ng-repeat="filter in task.filters">
                                {{ predictLbl(filter.key) }} :
                                <span ng-show="task.type == 'DATE'"> {{ filter.value | date: 'dd.MM.yyyy'}} </span>
                                <span ng-show="task.type == 'TASK'"> {{ filter.value == 'true' ? 'Пройден успешно' : 'Не пройден' }} </span>
                                <span ng-show="task.type != 'DATE' && task.type != 'TASK'"> {{ filter.value }} </span>
                            </li>
                        </ul>
                    </div>
                    <div style="margin-top: 20px;" data-ng-bind-html="html(task.description)"></div>
                </div>
            </div>
        </div>
    </div>
</div>