<div class="row" id="manager-panel-exams" style="display: none;">
    <div class="col-md-12">
        <button class="btn btn-default pull-right" type="button">Добавить тест</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Добавить тест</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="usr">Название:</label>
                    <input class="form-control" id="name" ng-model="exam.name" required type="text">
                </div>
                <div class="form-group">
                    <label for="usr">Короткое описание:</label>
                    <input class="form-control" ng-model="exam.intro" required type="text">
                </div>
                <div class="form-group">
                    <label for="usr">Позиции:</label>
                    <input class="form-control" ng-model="exam.position" required type="text">
                </div>
                <div class="checkbox">
                    <label><input ng-model="exam.active" required type="checkbox"> Опубликовать</label>
                </div>
                <div class="form-group">
                    <label for="comment">Описание:</label>
                    <textarea class="form-control" id="description" ng-model="user.description" required
                              rows="20"></textarea>
                </div>
                <a class="btn btn-default" ng-href="#/exam/view/{{exam.id}}">Назад</a>
                <button class="btn btn-default pull-right" ng-click="save(exam)">Добавить</button>
            </div>
        </div>
    </div>
</div>