<div class="hr" th:fragment="footer">
    <footer class="main-footer">
<!--        <div class="upper">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="logo col-xl-3 col-lg-3 col-md-6">-->
<!--                        <div class="logo-wrp">-->
<!--                            <a href="#">-->
<!--                                <img src="img/white-logo.png" alt="">-->

<!--                            </a>-->
<!--                            <a href="#">-->
<!--                                <img src="img/full-logo.png" alt="">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="text">-->
<!--                            <span class="bold">CheckDev</span> - пробные собеседования в IT-->
<!--                        </div>-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <div class="col-xl-6 col-lg-6 col-md-3 footer-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                        <ul class="list">&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a href="help.html">Как это работает</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a href="#" onclick="return loadPage('index.html', '#/vacancies');">Вакансии</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a href="#" onclick="return loadPage('index.html', '#/vacancy/update');">Добавить вакансию</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a href="#" onclick="document.location.href = CONTEXT + 'exams/exams.html';">Сертификаты</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-xl-3 col-lg-3 col-md-3 contact">&ndash;&gt;-->
<!--&lt;!&ndash;                        Связаться с нами можно,&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="block">написав на элекронный адрес</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="block"><a href="#" class="link">parsentev@yandex.ru</a></span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="low">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="text">
                            © 2023 CheckDev.ru
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>