<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <!--                <div class="top-header__logo col-xl-3 col-lg-3 col-md-3">-->
                <!--                    <a id='index' href="#">-->
                <!--                        <img id='logo' th:src="@{/img/logo.png}" alt="logo">-->
                <!--                    </a>-->
                <!--                </div>-->
                <div class="top-header__navigation col-xl-9 col-lg-9 col-md-9 float-right">
                    <ul class="navigation">
                        <li class="navigation__item"><a th:href="@{/categories/}">Направления</a></li>
                        <li class="navigation__item"><a href="#" onclick="return loadPage('index.html', '#/resume');">Собеседования</a>
                        </li>
                        <li class="navigation__item"><a href="#" onclick="return loadPage('exams/exams.html', '');">Профили</a>
                        </li>
                        <!--<li class="navigation__item"><a href="#">Как это работает</a></li>-->

                        <li class="navigation__item dropdown" id="logout-item" style="display: none;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="return false;">
                                <i class="fa fa-user fa-fw"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" onclick="return loadPage('index.html', '#/owner');">
                                    <i class="fa fa-list fa-fw"></i> Мои вакансии
                                </a>
                                <a class="dropdown-item" href="#" onclick="return loadPage('index.html', '#/taken');">
                                    <i class="fa fa-id-card fa-fw"></i> Пройденный интервью
                                </a>
                                <a class="dropdown-item" href="#"
                                   onclick="document.location.href = CONTEXT + 'settings/settings.html';">
                                    <i class="fa fa-user fa-fw"></i> <span id="user-info"></span>
                                </a>
                                <a class="dropdown-item" href="#"
                                   onclick="document.location.href = CONTEXT + 'exams/exams.html';">
                                    <i class="fa fa-certificate fa-fw"></i> Сертификаты
                                </a>
                                <a class="dropdown-item" href="#" onclick="return logout();">
                                    <i class="fa fa-share fa-fw"></i> Выйти
                                </a>
                            </div>
                        </li>
                        <li class="navigation__item" id="login-item">
                            <div class="d-flex" th:if="${userInfo == null}">
                                <a th:href="@{/login}">
                                    Войти
                                </a>
                            </div>
                            <div class="d-flex" th:if="${userInfo != null}">
                                <a class="nav-link text-secondary" th:href="@{/persons/edit}">
                                    <span th:text="${userInfo.username != null} ? ${userInfo.username} : ${userInfo.email}">Login/Email пользователя</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>