<style>
    #profile-image1 {
        cursor: pointer;
        width: 100px;
        border:2px solid #03b1ce ;}
    .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}
</style>

<div class="container">
    <div class="row pt-3" ng-hide="loaded">
        <div class="col-md-6">
            <div class="float-right">
                <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-md-12">
            <a ng-href="#/vacancy/candidates/{{interview.vacancy.id}}/total" class="btn btn-secondary">
                <span class="glyphicon glyphicon-step-backward"></span> Назад
            </a>
            <button class="btn btn-secondary float-right" ng-click="deleteInterview(interview)">
                <i class="fa fa-trash"></i> Удалить интервью
            </button>
        </div>
    </div>

    <div class="row pt-3" ng-show="loaded">
        <div class="col-md-12 pt-3">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Задание</td>
                    <td>Ответ</td>
                    <td>Результат</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="track in tracks">
                    <td>{{ tasks[track.id].name }}</td>
                    <td>
                        <div ng-repeat="value in tasks[track.id].values">
                                    <span ng-if="tasks[track.id].type == 'SINGLE_LINE' || v.type == 'AREA'
                                                  || tasks[track.id].type == 'INT' || tasks[track.id].type == 'DATE' || tasks[track.id].type == 'URL'">
                                         {{ value.value }}
                                    </span>
                            <span ng-if="tasks[track.id].type == 'LIST'">
                                        {{ findListValue(tasks[track.id].values, value.value) }}
                                    </span>
                            <span ng-if="tasks[track.id].type == 'MULTILIST'">
                                       {{ findListValue(tasks[track.id].values, value.value) }}
                                    </span>
                            <span ng-if="tasks[track.id].type == 'TASK'">
                                        <a href="#/algo/{{track.values[0].id}}" target="_blank" class="btn-link">Исходный код</a>
                                    </span>
                            <span ng-if="tasks[track.id].type == 'ATTACH'">
                                        <a ng-href="{{url}}/interview/interview/download/{{value.id}}?access_token={{access_token}}" target="_blank" class="btn-link">Скачать</a>
                                    </span>
                            <span ng-if="tasks[track.id].type == 'TEST' && value.value != null">
                                         {{ tasks[track.id].values[0].info }} - {{ value.value }}%
                                    </span>
                        </div>
                    </td>
                    <td>
                        <i ng-show="track.key == 'FAILURE'" class="fa fa-times" aria-hidden="true"></i>
                        <i ng-hide="track.key == 'FAILURE'" class="fa fa-check" aria-hidden="true"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row pt-3" ng-show="loaded">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-11">
                            <h5>{{person.username}}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-10">
                                    <span class="card-subtitle mb-2 text-muted">Email:</span>
                                    <span class="card-text">{{person.email}}</span>    <br/>
                                    <span class="card-subtitle mb-2 text-muted">Опыт работы:</span>
                                    <span class="card-text" ng-show="person.experience">{{ person.experience }} г.(лет)</span>
                                    <span class="card-text" ng-hide="person.experience"> Опыт работы - начало карьеры</span>
                                    <br/>
                                    <span class="card-subtitle mb-2 text-muted">О себе кратко:</span>
                                    <span class="card-text">{{person.aboutShort}}</span>
                                    <br/>
                                    <span class="card-subtitle mb-2 text-muted">Зарплатные ожидания:</span>
                                    <span class="card-text">{{person.salary}}</span>
                                    <br/>
                                </div>
                                <div class="col-sm-2">
                                    <div class="float-right">
                                        <img alt="User Pic" ng-src="{{photo.imgUrl}}" id="profile-image1" class="img-circle img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <hr script="p-3">

                            <h6 class="card-subtitle mb-2 text-muted">О себе:</h6>
                            <p class="card-text" data-ng-bind-html="about"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-3" ng-show="past">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Сертификаты</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th class="cell-stat text-center hidden-xs hidden-sm">Экзамен</th>
                            <th class="cell-stat text-center hidden-xs hidden-sm">Начало</th>
                            <th class="cell-stat text-center hidden-xs hidden-sm">Завершение</th>
                            <th class="cell-stat text-center hidden-xs hidden-sm">Результат</th>
                            <th class="cell-stat text-center hidden-xs hidden-sm">Попытки</th>
                        </tr>
                        <tr ng-repeat="exam in past">
                            <td>
                                <h4>
                                    <a ng-href="../exams/exams.html#/exam/{{exam.exam.id}}">
                                        {{ exam.exam.name }}
                                    </a>
                                    <br><small>{{ exam.exam.intro }}</small>
                                </h4>
                            </td>
                            <td class="text-center">{{exam.start | date: 'dd.MM.yyyy'}}</td>
                            <td class="text-center">{{exam.finish | date: 'dd.MM.yyyy'}}</td>
                            <td class="text-center">{{exam.result}}%</td>
                            <td class="text-center">{{exam.total}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
