<div class="row" ng-show="isAdmin">
    <div class="col-md-12 pull-right">
        <a class="btn btn-default" ng-href="#/exam/view/{{question.exam.id}}">К тесту</a>
        <a class="btn btn-default" ng-href="#/question/{{question.id}}/option/update">Добавить вариант</a>
        <a class="btn btn-default"
           ng-href="#/exam/{{question.exam.id}}/question/update/{{question.id}}">Отредактировать</a>
        <a class="btn btn-default" ng-href="#/question/{{previous.id}}" ng-show="previous">назад</a>
        <a class="btn btn-default" ng-href="#/question/{{next.id}}" ng-show="next">вперед</a>
        <button class="btn btn-default pull-right" ng-click="delete(exam)" type="button">Удалить</button>
    </div>
</div>
<div class="row" style="padding-top: 10px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                {{question.name}}
            </div>
            <div class="card-body">
                <div data-ng-bind-html="description"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Вариант</th>
                        <th>Корректность</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-hide="option.deleted" ng-repeat="option in options">
                        <td> {{ option.pos }}. {{ option.description }}</td>
                        <td> {{ option.correct }}</td>
                        <td>
                            <a class="btn btn-link" ng-href="#/question/{{question.id}}/option/update/{{option.id}}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <button class="btn btn-link" ng-click="deleteOpt(option)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Рекомендации
            </div>
            <div class="card-body">
                <div data-ng-bind-html="hint"></div>
            </div>
        </div>
    </div>
</div>