<div class="row p-3" ng-hide="loaded">
    <div class="col-md-6">
        <div class="float-right">
            <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
        </div>
    </div>
</div>

<div class="alert alert-danger" ng-show="error">
    <strong>Ошибка!</strong> Вы пытаетесь выполнить запрещенное или несуществующее действие.
</div>

<div class="row" ng-show="loaded">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
               {{ current }}/{{ total }}
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                {{ current }}. {{html(question.name)}}
            </div>
            <div class="card-body">
                <div data-ng-bind-html="html(question.description)"></div>
                <div class="checkbox" ng-repeat="(key, option) in options">
                    <label>
                        <input type="checkbox" ng-false-value="" ng-checked="aopts[key]"
                               ng-true-value="{{option.id}}" ng-change="change()" ng-model="answers[key]">
                        {{option.description}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pt-3 pb-3" ng-show="loaded">
    <div class="col-md-12 center-block">
        <button ng-click="back()" ng-hide="start" class="btn btn-default">Назад</button>
        <button ng-click="next()" class="btn btn-success pull-right" ng-show="finish" ng-disabled="!choose">Завершить</button>
        <button ng-click="next()" class="btn btn-success pull-right" ng-hide="finish" ng-disabled="!choose">Далее</button>
    </div>
</div>
