<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Job4j CI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="frags/header :: header"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Project</th>
            <th>URL</th>
            <th>Status</th>
            <th>Build</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project: ${projects}">
            <td><a th:href="@{'/projects/' + ${project.id}}" th:text="${project.name}"></a></td>
            <td th:text="${project.url}"></td>
            <td th:text="${project.status}"></td>
            <td th:text="${project.build}"></td>
            <td>
                <a th:href="@{'/projects/run/' + ${project.id}}"><span class="glyphicon glyphicon-play"></span></a>
                <a th:href="@{'/projects/update?id=' + ${project.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a th:href="@{'/projects/delete?id=' + ${project.id}}"><span class="glyphicon glyphicon-trash"></span></a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="frags/footer :: footer"></div>
</body>
</html>