<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Job4j CI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="frags/header :: header"></div>
    <h2>
        <a th:href="@{/projects/}" class="btn btn-secondary">Список проектов</a>
        <a th:href="@{/settings/update}" class="btn btn-secondary float-right">Добавить новое свойство</a>
    </h2>
    <table class="table">
        <thead>
        <tr>
            <th>Тип</th>
            <th>Значение</th>
            <th>Дейсвия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="setting: ${settings}">
            <td th:text="${setting.type}"></td>
            <td th:text="${setting.type.name() != 'GIT_PWD'} ? ${setting.value} : '***'">
            </td>
            <td>
                <a href="#">
                    <a th:href="@{'/settings/update?id=' + ${setting.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                </a>
                <a th:href="@{'/settings/delete?id=' + ${setting.id}}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>