<style>
    #profile-image1 {
        cursor: pointer;
        width: 100px;
        border:2px solid #03b1ce ;}
    .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4>{{person.username}}</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm">
                                <div ng-hide="hideEmail">
                                    <span class="card-subtitle mb-2 text-muted">Прямая ссылка:</span>
                                    <span class="card-text"><a href="../index.html#/cv/{{person.key}}">Ссылка</a></span>
                                </div>
                                <div ng-hide="hideEmail">
                                    <span class="card-subtitle mb-2 text-muted">Email:</span>
                                    <span class="card-text">{{person.email}}</span>
                                </div>
                                <span class="card-subtitle mb-2 text-muted">Опыт работы:</span>
                                <span class="card-text">{{person.experience}}</span>
                                <br/>
                                <span class="card-subtitle mb-2 text-muted">Место нахождения:</span>
                                <span class="card-text">{{person.location}}</span>
                                <br/>
                                <span class="card-subtitle mb-2 text-muted">О себе кратко:</span>
                                <span class="card-text">{{person.aboutShort}}</span>
                                <br/>
                                <span class="card-subtitle mb-2 text-muted">Зарплатные ожидания:</span>
                                <span class="card-text">{{person.salary}}</span>
                                <br/>
                            </div>
                            <div class="col-sm">
                                <div class="float-right">
                                    <img alt="User Pic" ng-src="{{photo.imgUrl}}" id="profile-image1" class="img-circle img-responsive">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr script="p-3">

                        <h6 class="card-subtitle mb-2 text-muted">О себе:</h6>
                        <p class="card-text" data-ng-bind-html="about"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pt-3" ng-show="past">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Сертификаты</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th class="cell-stat text-center hidden-xs hidden-sm">Экзамен</th>
                        <th class="cell-stat text-center hidden-xs hidden-sm">Начало</th>
                        <th class="cell-stat text-center hidden-xs hidden-sm">Завершение</th>
                        <th class="cell-stat text-center hidden-xs hidden-sm">Результат</th>
                        <th class="cell-stat text-center hidden-xs hidden-sm">Попытки</th>
                    </tr>
                    <tr ng-repeat="exam in past">
                        <td>
                            <h4>
                                <a ng-href="../exams/exams.html#/exam/{{exam.exam.id}}">
                                    {{ exam.exam.name }}
                                </a>
                                <br><small>{{ exam.exam.intro }}</small>
                            </h4>
                        </td>
                        <td class="text-center">{{exam.start | date: 'dd.MM.yyyy'}}</td>
                        <td class="text-center">{{exam.finish | date: 'dd.MM.yyyy'}}</td>
                        <td class="text-center">{{exam.result}}%</td>
                        <td class="text-center">{{exam.total}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
