<div class="row">
    <h2>Информация о пользователе.</h2>
    <div class="col-md-12" id="profile-form" role="form">
        <div class="card">
            <div class="card-header">
                <h4>Заполните форму.</h4></div>
            <div class="card-body">
                <div class="alert alert-info" ng-show="updated">
                    {{ message }}
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <img alt="User Pic" class="img-circle img-responsive" id="profile-image1"
                             ng-src="{{photo.imgUrl}}" style="width: 200px">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input aria-describedby="basic-addon2" aria-label="Recipient's username" class="form-control" id="link"
                           ng-model="link"
                           placeholder="https://bryansk.hh.ru/resume/456e45a1ff052c69300039ed1f4e6b74326b73" type="text">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" ng-click="load(link)" type="button">Загрузить</button>
                    </div>
                </div>
                <div class="form-group">
                    <span>Фото: (Размер не более  1мб. формат jpg)</span>
                    <label class="file_upload" for="file">
                        <span class="button">Выбрать</span>
                        <mark>Файл не выбран</mark>
                        <input file-model="file" id="file" type="file">
                    </label>
                </div>

                <div class="form-group">
                    <label for="name">ФИО:</label>
                    <input class="form-control" data-error="Заполните поле" data-minlength="6" id="name"
                           ng-model="person.username"
                           required type="text">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="location">Место нахождения:</label>
                    <input class="form-control" data-error="Заполните поле" data-minlength="6" id="location"
                           ng-model="person.location"
                           required type="text">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="showProfile" ng-model="person.show" type="checkbox">
                    <label for="showProfile">Показывать резюме:</label>
                </div>
                <div class="form-group">
                    <label for="experience">Опыт работы: (если нет введите: начало карьеры)</label>
                    <input class="form-control" data-error="Заполните поле" data-minlength="1" id="experience"
                           ng-model="person.experience"
                           required type="text">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="about_me_min">Титул (Например: Senior Java Developer, Spring/Angular Java Dev): </label>
                    <textarea class="form-control" data-error="Заполните поле" data-minlength="10"
                              id="about_me_min"
                              ng-model="person.aboutShort" required></textarea>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="about">О себе:</label>
                    <textarea class="form-control" data-error="Заполните поле" data-minlength="10" id="about"
                              ng-model="person.about"
                              required rows="10"></textarea>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="salary">Желаемая зарплата:</label>
                    <input class="form-control" id="salary" ng-model="person.salary" type="text">
                    <div class="help-block with-errors"></div>
                </div>
                <a class="btn btn-default" href="#"
                   onclick="document.location.href = CONTEXT + 'settings/settings.html';">
                    Назад
                </a>
                <button class="btn btn-default pull-right" ng-click="save(person)">Сохранить</button>
            </div>
        </div>
    </div>
</div>