<div class="row" ng-show="loaded">
    <div class="col-md-12">
        <div class="alert alert-info">
            В этом разделы Вы можете пройти тесты по различным темам Java, SQL, Html, CSS.
            Если тест пройдет выше 70% вы получаете сертификат.<br/>
            Этот сертификат можно использовать в своем резюме для подтверждения ваших навыков.
            Хороший балл по сертификатам даст дополнительное преимущество перед другими кандидатами.
        </div>
    </div>
</div>
<div class="row p-3" ng-hide="loaded">
    <div class="col-md-6">
        <div class="float-right">
            <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
        </div>
    </div>
</div>
<div class="row" ng-show="loaded && past">
    <div class="col-md-12">
        <table class="table forum table-striped">
            <thead>
            <tr>
                <th>
                    <h3>Ваши пройденные экзамены</h3>
                </th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Начало</th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Завершение</th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Результат</th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Попытки</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="exam in past">
                <td>
                    <h4>
                        <a ng-href="#/exam/{{exam.exam.id}}">
                            {{ exam.exam.name }}
                        </a>
                        <br><small>{{ exam.exam.intro }}</small>
                    </h4>
                </td>
                <td class="text-center">{{exam.start | date: 'dd.MM.yyyy'}}</td>
                <td class="text-center">{{exam.finish | date: 'dd.MM.yyyy'}}</td>
                <td class="text-center"><a href="#/result/{{exam.exam.id}}" ng-hide="!exam.finish">{{exam.result}}%</a>
                </td>
                <td class="text-center">{{exam.total}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" ng-show="loaded">
    <div class="col-md-12">
        <table class="table forum table-striped">
            <thead>
            <tr>
                <th>
                    <h3>Экзамены</h3>
                </th>
                <th>Статистика</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="exam in exams">
                <td>
                    <h4>
                        <a ng-href="#/exam/{{exam.id}}">
                            {{ exam.name }}
                        </a>
                        <br><small>{{ exam.intro }}</small>
                    </h4>
                </td>
                <td>
                    <small>Всего прошло : {{ averages[exam.id].total }}</small><br/>
                    <small>Средний балл : {{ averages[exam.id].average }}%</small><br/>
                    <small ng-show="averages[exam.id].persons">
                        Лучший балл : {{ averages[exam.id].persons[0].second.username }} -
                        {{ averages[exam.id].persons[0].first.result }}%
                    </small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>