<div class="row p-3" ng-hide="loaded">
    <div class="col-md-6">
        <div class="float-right">
            <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
        </div>
    </div>
</div>

<div class="alert alert-info" ng-show="error">
    Вы можете повторно пройти экзамен через день!
</div>

<div class="row" ng-show="loaded">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                {{exam.name}}
            </div>
            <div class="card-body" data-ng-bind-html="description">
            </div>
        </div>
    </div>
</div>

<div class="row pt-3" ng-show="loaded">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Статистика / Лучшие результаты (Балл%, Количество попыток)
            </div>
            <div class="card-body">
                <div class="col-md-6">
                    Всего прошло : {{ details.total }}<br/>
                    Средний балл : {{ details.average }}%
                </div>
                <div class="col-md-6">
                    <div ng-repeat=" person in details.persons">
                        {{ person.second.username }} -
                        {{ person.first.result }}%
                        ({{ person.first.total }})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pt-3 pb-3" ng-show="loaded">
    <div class="col-md-12 text-center">
        <a class="btn btn-default" ng-href="#/load">Назад</a>
        <button class="btn btn-success pull-right" ng-click="start(exam)">Пройти</button>
    </div>
</div>
