<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Добавить вариант</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="comment">Описание:</label>
                    <textarea class="form-control" ng-model="option.description" required rows="10"></textarea>
                </div>
                <div class="checkbox">
                    <label><input ng-model="option.correct" required type="checkbox"> Корректный ответ</label>
                </div>
                <div class="form-group">
                    <label for="usr">Порядок:</label>
                    <input class="form-control" ng-model="option.pos" required type="number">
                </div>
                <a class="btn btn-default pull-left" ng-href="#/question/{{option.question.id}}">
                    Отменить
                </a>
                <button class="btn btn-default pull-right" ng-click="save(option)">Добавить</button>
            </div>
        </div>
    </div>
</div>