<div class="container p-3">
<div class="row p-3" ng-hide="loaded">
    <div class="col-md-6">
        <div class="float-right">
            <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
        </div>
    </div>
</div>
<div class="row" ng-show="loaded">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="usr">Название:</label>
                    <input type="text" class="form-control" id="name" ng-model="algo.name" disabled>
                </div>
                <div class="form-group">
                    <label for="usr">Сложность от 0 до 10:</label>
                    <input type="number" class="form-control" id="name" ng-model="algo.level" disabled>
                </div>
                <div class="form-group">
                    <label for="comment">Описание:</label>
                    <div class="form-group" data-ng-bind-html="description"></div>
                </div>
                <div class="form-group">
                    <label for="comment">Решение кандидата:</label>
                    <pre>{{ value.value }}</pre>
                </div>
                <div class="form-group">
                    <label for="comment">Тест:</label>
                    <pre>{{ algo.test }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
