<div class="container">
    <div class="row p-3" ng-hide="loaded">
        <div class="col-md-6">
            <div class="float-right">
                <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 search">
            <form class="search-form">
                <div class="form-group flex">
                    <input type="text" class="form-control col-xl-10" style="border: 1px solid #a2a2a2; max-width: 100% !important;" id="inputSearch" placeholder="Я ищу вакансию ..." ng-model="vac.name">
                    <button type="submit" class="btn btn-primary col-xl-2"  ng-click="search(vac)">Найти</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-show="loaded">
        <div class="col-md-12">
            <table class="table table-hover">
                <tbody>
                <tr dir-paginate="vacancy in data.vacancies | itemsPerPage:data.itemsPerPage" total-items="data.total_count"  class='clickable-row' ng-click="toVacancy(vacancy)">
                    <td>
                        <h5><strong>{{ vacancy.name }}</strong></h5>
                        <h6 class="mb-2 text-muted font-italic pt-1">{{ vacancy.company }}</h6>
                        <h6 class="mb-2 text-muted">
                            {{ vacancy.location }}.
                            <span ng-show="vacancy.rate">{{ vacancy.rate }}.</span>
                            <span ng-show="vacancy.experience">{{ vacancy.experience }}.</span>
                        </h6>
                    </td>
                    <td class="text-center">
                        <h6 class="mb-2 text-muted">{{ vacancy.published | date: 'dd.MM.yyyy'}}</h6>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <dir-pagination-controls template-url="./js/dirPagination.tpl.html"
                                         max-size="10"
                                         direction-links="true"
                                         boundary-links="true"
                                         on-page-change="data.getData(newPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>