<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50330242 = new Ya.Metrika2({
                    id:50330242,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50330242" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="top-header__logo col-xl-3 col-lg-3 col-md-3">
                <a id='index' href="{{log_url}}index.html">
                    <img id='logo' src="{{log_url}}img/logo.png" alt="logo">
                </a>
            </div>
            <div class="top-header__navigation col-xl-9 col-lg-9 col-md-9 float-right">
                <ul class="navigation">
                    <li class="navigation__item"><a href="#" onclick="return loadPage('index.html', '#/vacancies');">Вакансии</a></li>
                    <li class="navigation__item"><a href="#" onclick="return loadPage('index.html', '#/resume');">Кандидаты</a></li>
                    <li class="navigation__item"><a href="#" onclick="return loadPage('exams/exams.html', '');">Сертификаты</a></li>
                    <!--<li class="navigation__item"><a href="#">Как это работает</a></li>-->

                    <li class="navigation__item dropdown" id="logout-item" style="display: none;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"  onclick="return false;">
                            <i class="fa fa-user fa-fw"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" onclick="return loadPage('index.html', '#/owner');">
                                <i class="fa fa-list fa-fw"></i> Мои вакансии
                            </a>
                            <a class="dropdown-item" href="#" onclick="return loadPage('index.html', '#/taken');">
                                <i class="fa fa-id-card fa-fw"></i> Пройденный интервью
                            </a>
                            <a class="dropdown-item" href="#" onclick="document.location.href = CONTEXT + 'settings/settings.html';">
                                <i class="fa fa-user fa-fw"></i> <span id="user-info"></span>
                            </a>
                            <a class="dropdown-item" href="#" onclick="document.location.href = CONTEXT + 'exams/exams.html';">
                                <i class="fa fa-certificate fa-fw"></i> Сертификаты
                            </a>
                            <a class="dropdown-item" href="#" onclick="return logout();">
                                <i class="fa fa-share fa-fw"></i> Выйти
                            </a>
                        </div>
                    </li>
                    <li  class="navigation__item" id="login-item">
                        <a href="#" onclick="document.location.href = CONTEXT + 'login.html';">
                            Войти
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>