<div class="row p-3" ng-hide="loaded">
    <div class="col-md-6">
        <div class="float-right">
            <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="#/algo/update/{{algo.id}}" class="btn btn-secondary">Отредактировать</a>
        <a ng-href="#/algos" class="btn btn-secondary">Назад</a>
        <button class="btn btn-secondary float-right" ng-click="run(algo)">Запустить</button>
    </div>
</div>
<div class="row" ng-show="running">
    <div class="col-md-2 col-md-offset-5">
        <div class='uil-ripple-css' style='transform:scale(0.54);'><div></div><div></div></div>
    </div>
</div>
<div class="row" style="padding-top: 10px;">

    <div class="col-md-12" ng-show="result">
        <pre>{{ log }}</pre>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <strong>{{ algo.name }}</strong>
                    Уровень {{ algo.level }}. Опубликован {{ algo.published }}
                </h4>
            </div>
            <div class="card-body" data-ng-bind-html="description">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <strong>{{ algo.sname }}.java</strong>
        <pre>{{ algo.source }}</pre>
    </div>

    <div class="col-md-12">
        <strong>{{ algo.tname }}.java</strong>
        <pre>{{ algo.test }}</pre>
    </div>
</div>