<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="usr">Название:</label>
                    <input class="form-control" id="name" ng-model="algo.name" required type="text">
                </div>
                <div class="form-group">
                    <label for="usr">Сложность от 0 до 10:</label>
                    <input class="form-control" id="name" ng-model="algo.level" required type="number">
                </div>
                <div class="form-group checkbox">
                    <label>
                        <input ng-model="algo.published" required type="checkbox"> Опубликовать
                    </label>
                </div>
                <div class="form-group">
                    <label for="comment">Описание:</label>
                    <textarea class="form-control" id="description" ng-model="algo.desription" required
                              rows="20"></textarea>
                </div>
                <div class="form-group">
                    <label for="usr">Имя исходника:</label>
                    <input class="form-control" id="name" ng-model="algo.sname" required type="text">
                </div>
                <div class="form-group">
                    <label for="comment">Каркас:</label>
                    <textarea class="form-control" id="source" ng-model="algo.source" required rows="20"></textarea>
                </div>
                <div class="form-group">
                    <label for="usr">Имя теста:</label>
                    <input class="form-control" id="name" ng-model="algo.tname" required type="text">
                </div>
                <div class="form-group">
                    <label for="comment">Тест:</label>
                    <textarea class="form-control" id="test" ng-model="algo.test" required rows="20"></textarea>
                </div>
                <a class="btn btn-secondary" ng-href="#/algo/{{id}}" ng-show="id">Назад</a>
                <a class="btn btn-secondary" ng-hide="id" ng-href="#/algos">Назад</a>
                <button class="btn btn-secondary float-right" ng-click="save(algo)">Сохранить</button>
            </div>
        </div>
    </div>
</div>