<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Добавить настройку</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="usr">Ключ:</label>
                    <select class="form-control" ng-model="setting.key">
                        <option ng-repeat="key in keys" value="{{key}}">{{key}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="usr">Значение:</label>
                    <input class="form-control" ng-model="setting.value" required type="text">
                </div>
                <a class="btn btn-secondary" ng-href="#/notifications/settings">Назад</a>
                <button class="btn btn-secondary float-right" ng-click="save(setting)">Сохранить</button>
            </div>
        </div>
    </div>
</div>