<div class="row" id="manager-panel-exams" style="display: none;">
    <div class="col-md-12">
        <button type="button" class="btn btn-secondary float-right">Добавить тест</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Добавить шаблон</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="usr">Заголовок:</label>
                    <input type="text" class="form-control" id="name" ng-model="template.subject" required>
                </div>
                <div class="form-group">
                    <label for="usr">Тип:</label>
                    <input type="text" class="form-control" id="type" ng-model="template.type" required>
                </div>
                <div class="form-group">
                    <label for="comment">Описание:</label>
                    <textarea class="form-control" rows="10" id="description" ng-model="template.body" required></textarea>
                </div>
                <a ng-href="#/exam/view/{{exam.id}}" class="btn btn-secondary">Назад</a>
                <button class="btn btn-secondary float-right" ng-click="save(template)">Добавить</button>
            </div>
        </div>
    </div>
</div>