<div class="row" ng-show="loaded">
    <div class="col-md-12">
        <div class="input-group mb-3">
            <input aria-describedby="basic-addon2" aria-label="Recipient's username" class="form-control" ng-model="person"
                   placeholder="Recipient's username" type="text">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" ng-click="search(person)" type="button">
                    <i class="fa fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row p-3" ng-hide="loaded">
    <div class="col-md-6">
        <div class="float-right">
            <i class="fa fa-cog fa-spin" style="font-size:70px"></i>
        </div>
    </div>
</div>
<div class="row" ng-show="loaded">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Email</th>
                <th>Role</th>
                <th>Active</th>
                <th>Edit</th>
                <th>Reset Pass</th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="user in data.users|itemsPerPage:data.itemsPerPage" total-items="data.total_count">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <span ng-repeat="role in user.roles">
                        {{ role.value }} <span ng-show="!$last">, </span>
                    </span>
                </td>
                <td>
                    {{user.active}}
                </td>
                <td class="text-center">
                    <a class="btn btn-link" ng-href="#/persons/update/{{user.id}}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <i class="fa fa-edit fa-fw"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-link" ng-href="#/persons/pass/{{user.id}}">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        <i class="fa fa-save fa-fw"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls boundary-links="true"
                                 direction-links="true"
                                 max-size="10"
                                 on-page-change="data.getData(newPageNumber)"
                                 template-url="../js/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>