<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="username">ФИО:</label>
                    <input class="form-control" disabled id="username" ng-model="person.username" type="text">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" disabled id="email" ng-model="person.email" type="text">
                </div>
                <div class="form-group">
                    <label for="email">Роли:</label>
                    <table class="table table-bordered" id="table">
                        <tbody>
                        <tr ng-repeat="(index, role) in roles">
                            <td>
                                <input ng-false-value="" ng-model="person.roles[index]" ng-true-value="{{role}}"
                                       type="checkbox">
                                {{ role.value }}
                            </td>
                        </tr>
                        <tr>
                            <td><input ng-false-value="{{false}}" ng-model="person.active" ng-true-value="{{true}}"
                                       type="checkbox">
                                Active
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-secondary" ng-hide="id" ng-href="#/persons">Назад</a>
                <button class="btn btn-secondary float-right" ng-click="save(person)">Сохранить</button>
            </div>
        </div>
    </div>
</div>