<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="username">ФИО:</label>
                    <input type="text" class="form-control" id="username" ng-model="person.username" disabled>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" ng-model="person.email" disabled>
                </div>
                <div class="form-group">
                    <label for="email">Роли:</label>
                    <table id="table" class="table table-bordered">
                        <tbody>
                        <tr ng-repeat="(index, role) in roles">
                            <td>
                                <input type="checkbox" ng-model="person.roles[index]" ng-true-value="{{role}}" ng-false-value="">
                                {{ role.value }}
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" ng-model="person.active" ng-true-value="{{true}}" ng-false-value="{{false}}">
                            Active
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a ng-href="#/persons" class="btn btn-secondary" ng-hide="id">Назад</a>
                <button class="btn btn-secondary float-right" ng-click="save(person)">Сохранить</button>
            </div>
        </div>
    </div>
</div>