<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Job4j CI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="frags/header :: header"></div>
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td>Project</td>
            <td th:text="${project.name}"></td>
        </tr>
        <tr>
            <td>ULR</td>
            <td th:text="${project.url}"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${project.status}"></td>
        </tr>
        <tr>
            <td>Actions</td>
            <td>
                <a th:href="@{'/projects/run/' + ${project.id}}"><span class="glyphicon glyphicon-play"></span></a>
                <a th:href="@{'/projects/update?id=' + ${project.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a th:href="@{'/projects/delete?id=' + ${project.id}}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Status</th>
            <th>Log</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task: ${project.sortedTasks}">
            <td th:text="${task.task.name}"></td>
            <td th:text="${task.result}"></td>
            <td>
                <a target="_blank" th:href="@{'/projects/task/log/' + ${task.id}}" th:text="${#dates.format(task.time, 'dd MMM yyyy HH:mm')}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="frags/footer :: footer"></div>
</body>
</html>