<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Job4j CI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="frags/header :: header"></div>
    <form th:action="@{/projects/save}" method="post" th:object="${project}">
        <fieldset>
            <legend>New project</legend>
            <input type="hidden" name="id" th:value="*{id}"/>
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" th:value="*{name}" name="name" class="form-control" id="name"/>
            </div>
            <div class="form-group">
                <label for="url">Url:</label>
                <input type="text" name="url" th:value="*{url}" class="form-control" id="url"/>
            </div>
            <div class="form-group">
                <div class="checkbox" th:each="job, status : ${jobs}">
                    <label><input type="checkbox" th:name="${'jobs[' + status.index + ']'}" th:value="${job.id}" th:text="${job.name}"/></label>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">Добавить</button>
        </fieldset>
    </form>
</div>
<div th:replace="frags/footer :: footer"></div>
</body>
</html>